In [36]:
dict1 = { 
   "april_batch":{ 
      "student":{ 
         "name":"Mike",
         "marks":{ 
            "python":80,
            "maths":70
         }
      }
   }
}

In [37]:
dict1

{'april_batch': {'student': {'name': 'Mike',
   'marks': {'python': 80, 'maths': 70}}}}

In [38]:
dict1['april_batch']['student']['name']

'Mike'

In [39]:
dict1['april_batch']['student']['marks']['python']

80

In [40]:
dict1['april_batch']['student']['name'] = 'SN'

In [41]:
dict1

{'april_batch': {'student': {'name': 'SN',
   'marks': {'python': 80, 'maths': 70}}}}

In [42]:
dict1['april_batch']['student']["marks"] ={'dl':80,'python': 80, 'maths': 70,'ml':80}

In [43]:
dict1

{'april_batch': {'student': {'name': 'SN',
   'marks': {'dl': 80, 'python': 80, 'maths': 70, 'ml': 80}}}}